@charset "UTF-8";
@import "assets/font/font.css";
@import "animate.min.css";
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #5952e4;
  --gray-dark: #343a40;
  --primary: #007bff;
  --font-family-sans-serif: "Graphik-Regular", Sans-Serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}
*,
::after,
::before {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
footer,
section {
  display: block;
}
body {
  margin: 0;
  font-family: graphik-regular, Sans-Serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
[tabindex="-1"]:focus {
  outline: 0 !important;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #0056b3;
  text-decoration: underline;
}
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}
a:not([href]):not([tabindex]):focus {
  outline: 0;
}
img {
  vertical-align: middle;
  border-style: none;
}
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}
[hidden] {
  display: none !important;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-weight: 400;
  line-height: 1.2;
}
.h1,
h1 {
  font-size: 3.375rem;
}
.h2,
h2 {
  font-size: 2.25rem;
}
.h3,
h3 {
  font-size: 1.5rem;
}
.h4,
h4 {
  font-size: 1.125rem;
}
.h5,
h5 {
  font-size: 1rem;
}
.h6,
h6 {
  font-size: 0.875rem;
}
hr {
  margin-top: 80px;
  margin-bottom: 80px;
  border: 0;
  border-top: 2px solid rgba(54, 54, 63, 0.1);
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1232px) {
  .container {
    max-width: 1200px;
  }
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
.col-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}
.col-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}
.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.col-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}
.col-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}
.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.col-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}
.col-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}
.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.col-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}
.col-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
@media (min-width: 992px) {
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-lg-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 1rem 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}
@keyframes spinner-grow {
  0% {
    transform: scale(0);
  }
  50% {
    opacity: 1;
  }
}
@supports (position: sticky) {
  .sticky-top {
    position: sticky;
    top: 0;
    z-index: 1020;
  }
}
.shadow {
  box-shadow: 0 0.5rem 1rem rgba(19, 20, 22, 0.15) !important;
}
.shadow-lg {
  box-shadow: 0 1rem 3rem rgba(19, 20, 22, 0.175) !important;
}
.h-25 {
  height: 25% !important;
}
.h-50 {
  height: 50% !important;
}
.h-75 {
  height: 75% !important;
}
.h-100 {
  height: 100% !important;
}
.m-0 {
  margin: 0 !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.m-1 {
  margin: 0.625rem !important;
}
.mt-1 {
  margin-top: 0.625rem !important;
}
.mb-1 {
  margin-bottom: 0.625rem !important;
}
.m-2 {
  margin: 0.9375rem !important;
}
.mt-2 {
  margin-top: 0.9375rem !important;
}
.mb-2 {
  margin-bottom: 0.9375rem !important;
}
.m-3 {
  margin: 1.25rem !important;
}
.mt-3 {
  margin-top: 1.25rem !important;
}
.mb-3 {
  margin-bottom: 1.25rem !important;
}
.m-4 {
  margin: 1.563rem !important;
}
.mt-4 {
  margin-top: 1.563rem !important;
}
.mb-4 {
  margin-bottom: 1.563rem !important;
}
.m-5 {
  margin: 1.875rem !important;
}
.mt-5 {
  margin-top: 1.875rem !important;
}
.mb-5 {
  margin-bottom: 1.875rem !important;
}
.m-0_22 {
  margin: 0.125rem !important;
}
.mt-0_22 {
  margin-top: 0.125rem !important;
}
.mb-0_22 {
  margin-bottom: 0.125rem !important;
}
.m-0_5 {
  margin: 0.312rem !important;
}
.mt-0_5 {
  margin-top: 0.312rem !important;
}
.mb-0_5 {
  margin-bottom: 0.312rem !important;
}
.m-6 {
  margin: 2.188rem !important;
}
.mt-6 {
  margin-top: 2.188rem !important;
}
.mb-6 {
  margin-bottom: 2.188rem !important;
}
.m-7 {
  margin: 2.5rem !important;
}
.mt-7 {
  margin-top: 2.5rem !important;
}
.mb-7 {
  margin-bottom: 2.5rem !important;
}
.m-8 {
  margin: 3.125rem !important;
}
.mt-8 {
  margin-top: 3.125rem !important;
}
.mb-8 {
  margin-bottom: 3.125rem !important;
}
.m-9 {
  margin: 3.75rem !important;
}
.mt-9 {
  margin-top: 3.75rem !important;
}
.mb-9 {
  margin-bottom: 3.75rem !important;
}
.m-10 {
  margin: 4.375rem !important;
}
.mt-10 {
  margin-top: 4.375rem !important;
}
.mb-10 {
  margin-bottom: 4.375rem !important;
}
.m-11 {
  margin: 5rem !important;
}
.mt-11 {
  margin-top: 5rem !important;
}
.mb-11 {
  margin-bottom: 5rem !important;
}
.m-12 {
  margin: 5.625rem !important;
}
.mt-12 {
  margin-top: 5.625rem !important;
}
.mb-12 {
  margin-bottom: 5.625rem !important;
}
.m-13 {
  margin: 6.25rem !important;
}
.mt-13 {
  margin-top: 6.25rem !important;
}
.mb-13 {
  margin-bottom: 6.25rem !important;
}
.m-13_5 {
  margin: 7.5rem !important;
}
.mt-13_5 {
  margin-top: 7.5rem !important;
}
.mb-13_5 {
  margin-bottom: 7.5rem !important;
}
.m-14 {
  margin: 8.75rem !important;
}
.mt-14 {
  margin-top: 8.75rem !important;
}
.mb-14 {
  margin-bottom: 8.75rem !important;
}
.m-15 {
  margin: 9.375rem !important;
}
.mt-15 {
  margin-top: 9.375rem !important;
}
.mb-15 {
  margin-bottom: 9.375rem !important;
}
.m-16 {
  margin: 10rem !important;
}
.mt-16 {
  margin-top: 10rem !important;
}
.mb-16 {
  margin-bottom: 10rem !important;
}
.m-17 {
  margin: 10.63rem !important;
}
.mt-17 {
  margin-top: 10.63rem !important;
}
.mb-17 {
  margin-bottom: 10.63rem !important;
}
.m-18 {
  margin: 11.25rem !important;
}
.mt-18 {
  margin-top: 11.25rem !important;
}
.mb-18 {
  margin-bottom: 11.25rem !important;
}
.m-19 {
  margin: 11.88rem !important;
}
.mt-19 {
  margin-top: 11.88rem !important;
}
.mb-19 {
  margin-bottom: 11.88rem !important;
}
.m-20 {
  margin: 12.5rem !important;
}
.mt-20 {
  margin-top: 12.5rem !important;
}
.mb-20 {
  margin-bottom: 12.5rem !important;
}
.m-21 {
  margin: 13.13rem !important;
}
.mt-21 {
  margin-top: 13.13rem !important;
}
.mb-21 {
  margin-bottom: 13.13rem !important;
}
.m-22 {
  margin: 13.75rem !important;
}
.mt-22 {
  margin-top: 13.75rem !important;
}
.mb-22 {
  margin-bottom: 13.75rem !important;
}
.m-23 {
  margin: 14.38rem !important;
}
.mt-23 {
  margin-top: 14.38rem !important;
}
.mb-23 {
  margin-bottom: 14.38rem !important;
}
.m-24 {
  margin: 15rem !important;
}
.mt-24 {
  margin-top: 15rem !important;
}
.mb-24 {
  margin-bottom: 15rem !important;
}
.m-25 {
  margin: 15.625rem !important;
}
.mt-25 {
  margin-top: 15.625rem !important;
}
.mb-25 {
  margin-bottom: 15.625rem !important;
}
.m-n1 {
  margin: -0.625rem !important;
}
.mt-n1 {
  margin-top: -0.625rem !important;
}
.mb-n1 {
  margin-bottom: -0.625rem !important;
}
.m-n2 {
  margin: -0.9375rem !important;
}
.mt-n2 {
  margin-top: -0.9375rem !important;
}
.mb-n2 {
  margin-bottom: -0.9375rem !important;
}
.m-n3 {
  margin: -1.25rem !important;
}
.mt-n3 {
  margin-top: -1.25rem !important;
}
.mb-n3 {
  margin-bottom: -1.25rem !important;
}
.m-n4 {
  margin: -1.563rem !important;
}
.mt-n4 {
  margin-top: -1.563rem !important;
}
.mb-n4 {
  margin-bottom: -1.563rem !important;
}
.m-n5 {
  margin: -1.875rem !important;
}
.mt-n5 {
  margin-top: -1.875rem !important;
}
.mb-n5 {
  margin-bottom: -1.875rem !important;
}
.m-n6 {
  margin: -2.188rem !important;
}
.mt-n6 {
  margin-top: -2.188rem !important;
}
.mb-n6 {
  margin-bottom: -2.188rem !important;
}
.m-n7 {
  margin: -2.5rem !important;
}
.mt-n7 {
  margin-top: -2.5rem !important;
}
.mb-n7 {
  margin-bottom: -2.5rem !important;
}
.m-n8 {
  margin: -3.125rem !important;
}
.mt-n8 {
  margin-top: -3.125rem !important;
}
.mb-n8 {
  margin-bottom: -3.125rem !important;
}
.m-n9 {
  margin: -3.75rem !important;
}
.mt-n9 {
  margin-top: -3.75rem !important;
}
.mb-n9 {
  margin-bottom: -3.75rem !important;
}
.m-n10 {
  margin: -4.375rem !important;
}
.mt-n10 {
  margin-top: -4.375rem !important;
}
.mb-n10 {
  margin-bottom: -4.375rem !important;
}
.m-n11 {
  margin: -5rem !important;
}
.mt-n11 {
  margin-top: -5rem !important;
}
.mb-n11 {
  margin-bottom: -5rem !important;
}
.m-n12 {
  margin: -5.625rem !important;
}
.mt-n12 {
  margin-top: -5.625rem !important;
}
.mb-n12 {
  margin-bottom: -5.625rem !important;
}
.m-n13 {
  margin: -6.25rem !important;
}
.mt-n13 {
  margin-top: -6.25rem !important;
}
.mb-n13 {
  margin-bottom: -6.25rem !important;
}
.m-n13_5 {
  margin: -7.5rem !important;
}
.mt-n13_5 {
  margin-top: -7.5rem !important;
}
.mb-n13_5 {
  margin-bottom: -7.5rem !important;
}
.m-n14 {
  margin: -8.75rem !important;
}
.mt-n14 {
  margin-top: -8.75rem !important;
}
.mb-n14 {
  margin-bottom: -8.75rem !important;
}
.m-n15 {
  margin: -9.375rem !important;
}
.mt-n15 {
  margin-top: -9.375rem !important;
}
.mb-n15 {
  margin-bottom: -9.375rem !important;
}
.m-n16 {
  margin: -10rem !important;
}
.mt-n16 {
  margin-top: -10rem !important;
}
.mb-n16 {
  margin-bottom: -10rem !important;
}
.m-n17 {
  margin: -10.63rem !important;
}
.mt-n17 {
  margin-top: -10.63rem !important;
}
.mb-n17 {
  margin-bottom: -10.63rem !important;
}
.m-n18 {
  margin: -11.25rem !important;
}
.mt-n18 {
  margin-top: -11.25rem !important;
}
.mb-n18 {
  margin-bottom: -11.25rem !important;
}
.m-n19 {
  margin: -11.88rem !important;
}
.mt-n19 {
  margin-top: -11.88rem !important;
}
.mb-n19 {
  margin-bottom: -11.88rem !important;
}
.m-n20 {
  margin: -12.5rem !important;
}
.mt-n20 {
  margin-top: -12.5rem !important;
}
.mb-n20 {
  margin-bottom: -12.5rem !important;
}
.m-n21 {
  margin: -13.13rem !important;
}
.mt-n21 {
  margin-top: -13.13rem !important;
}
.mb-n21 {
  margin-bottom: -13.13rem !important;
}
.m-n22 {
  margin: -13.75rem !important;
}
.mt-n22 {
  margin-top: -13.75rem !important;
}
.mb-n22 {
  margin-bottom: -13.75rem !important;
}
.m-n23 {
  margin: -14.38rem !important;
}
.mt-n23 {
  margin-top: -14.38rem !important;
}
.mb-n23 {
  margin-bottom: -14.38rem !important;
}
.m-n24 {
  margin: -15rem !important;
}
.mt-n24 {
  margin-top: -15rem !important;
}
.mb-n24 {
  margin-bottom: -15rem !important;
}
.m-n25 {
  margin: -15.625rem !important;
}
.mt-n25 {
  margin-top: -15.625rem !important;
}
.mb-n25 {
  margin-bottom: -15.625rem !important;
}
@media (min-width: 992px) {
  .m-lg-0 {
    margin: 0 !important;
  }
  .mt-lg-0 {
    margin-top: 0 !important;
  }
  .mb-lg-0 {
    margin-bottom: 0 !important;
  }
  .m-lg-1 {
    margin: 0.625rem !important;
  }
  .mt-lg-1 {
    margin-top: 0.625rem !important;
  }
  .mb-lg-1 {
    margin-bottom: 0.625rem !important;
  }
  .m-lg-2 {
    margin: 0.9375rem !important;
  }
  .mt-lg-2 {
    margin-top: 0.9375rem !important;
  }
  .mb-lg-2 {
    margin-bottom: 0.9375rem !important;
  }
  .m-lg-3 {
    margin: 1.25rem !important;
  }
  .mt-lg-3 {
    margin-top: 1.25rem !important;
  }
  .mb-lg-3 {
    margin-bottom: 1.25rem !important;
  }
  .m-lg-4 {
    margin: 1.563rem !important;
  }
  .mt-lg-4 {
    margin-top: 1.563rem !important;
  }
  .mb-lg-4 {
    margin-bottom: 1.563rem !important;
  }
  .m-lg-5 {
    margin: 1.875rem !important;
  }
  .mt-lg-5 {
    margin-top: 1.875rem !important;
  }
  .mb-lg-5 {
    margin-bottom: 1.875rem !important;
  }
  .m-lg-0_22 {
    margin: 0.125rem !important;
  }
  .mt-lg-0_22 {
    margin-top: 0.125rem !important;
  }
  .mb-lg-0_22 {
    margin-bottom: 0.125rem !important;
  }
  .m-lg-0_5 {
    margin: 0.312rem !important;
  }
  .mt-lg-0_5 {
    margin-top: 0.312rem !important;
  }
  .mb-lg-0_5 {
    margin-bottom: 0.312rem !important;
  }
  .m-lg-6 {
    margin: 2.188rem !important;
  }
  .mt-lg-6 {
    margin-top: 2.188rem !important;
  }
  .mb-lg-6 {
    margin-bottom: 2.188rem !important;
  }
  .m-lg-7 {
    margin: 2.5rem !important;
  }
  .mt-lg-7 {
    margin-top: 2.5rem !important;
  }
  .mb-lg-7 {
    margin-bottom: 2.5rem !important;
  }
  .m-lg-8 {
    margin: 3.125rem !important;
  }
  .mt-lg-8 {
    margin-top: 3.125rem !important;
  }
  .mb-lg-8 {
    margin-bottom: 3.125rem !important;
  }
  .m-lg-9 {
    margin: 3.75rem !important;
  }
  .mt-lg-9 {
    margin-top: 3.75rem !important;
  }
  .mb-lg-9 {
    margin-bottom: 3.75rem !important;
  }
  .m-lg-10 {
    margin: 4.375rem !important;
  }
  .mt-lg-10 {
    margin-top: 4.375rem !important;
  }
  .mb-lg-10 {
    margin-bottom: 4.375rem !important;
  }
  .m-lg-11 {
    margin: 5rem !important;
  }
  .mt-lg-11 {
    margin-top: 5rem !important;
  }
  .mb-lg-11 {
    margin-bottom: 5rem !important;
  }
  .m-lg-12 {
    margin: 5.625rem !important;
  }
  .mt-lg-12 {
    margin-top: 5.625rem !important;
  }
  .mb-lg-12 {
    margin-bottom: 5.625rem !important;
  }
  .m-lg-13 {
    margin: 6.25rem !important;
  }
  .mt-lg-13 {
    margin-top: 6.25rem !important;
  }
  .mb-lg-13 {
    margin-bottom: 6.25rem !important;
  }
  .m-lg-13_5 {
    margin: 7.5rem !important;
  }
  .mt-lg-13_5 {
    margin-top: 7.5rem !important;
  }
  .mb-lg-13_5 {
    margin-bottom: 7.5rem !important;
  }
  .m-lg-14 {
    margin: 8.75rem !important;
  }
  .mt-lg-14 {
    margin-top: 8.75rem !important;
  }
  .mb-lg-14 {
    margin-bottom: 8.75rem !important;
  }
  .m-lg-15 {
    margin: 9.375rem !important;
  }
  .mt-lg-15 {
    margin-top: 9.375rem !important;
  }
  .mb-lg-15 {
    margin-bottom: 9.375rem !important;
  }
  .m-lg-16 {
    margin: 10rem !important;
  }
  .mt-lg-16 {
    margin-top: 10rem !important;
  }
  .mb-lg-16 {
    margin-bottom: 10rem !important;
  }
  .m-lg-17 {
    margin: 10.63rem !important;
  }
  .mt-lg-17 {
    margin-top: 10.63rem !important;
  }
  .mb-lg-17 {
    margin-bottom: 10.63rem !important;
  }
  .m-lg-18 {
    margin: 11.25rem !important;
  }
  .mt-lg-18 {
    margin-top: 11.25rem !important;
  }
  .mb-lg-18 {
    margin-bottom: 11.25rem !important;
  }
  .m-lg-19 {
    margin: 11.88rem !important;
  }
  .mt-lg-19 {
    margin-top: 11.88rem !important;
  }
  .mb-lg-19 {
    margin-bottom: 11.88rem !important;
  }
  .m-lg-20 {
    margin: 12.5rem !important;
  }
  .mt-lg-20 {
    margin-top: 12.5rem !important;
  }
  .mb-lg-20 {
    margin-bottom: 12.5rem !important;
  }
  .m-lg-21 {
    margin: 13.13rem !important;
  }
  .mt-lg-21 {
    margin-top: 13.13rem !important;
  }
  .mb-lg-21 {
    margin-bottom: 13.13rem !important;
  }
  .m-lg-22 {
    margin: 13.75rem !important;
  }
  .mt-lg-22 {
    margin-top: 13.75rem !important;
  }
  .mb-lg-22 {
    margin-bottom: 13.75rem !important;
  }
  .m-lg-23 {
    margin: 14.38rem !important;
  }
  .mt-lg-23 {
    margin-top: 14.38rem !important;
  }
  .mb-lg-23 {
    margin-bottom: 14.38rem !important;
  }
  .m-lg-24 {
    margin: 15rem !important;
  }
  .mt-lg-24 {
    margin-top: 15rem !important;
  }
  .mb-lg-24 {
    margin-bottom: 15rem !important;
  }
  .m-lg-25 {
    margin: 15.625rem !important;
  }
  .mt-lg-25 {
    margin-top: 15.625rem !important;
  }
  .mb-lg-25 {
    margin-bottom: 15.625rem !important;
  }
  .m-lg-n1 {
    margin: -0.625rem !important;
  }
  .mt-lg-n1 {
    margin-top: -0.625rem !important;
  }
  .mb-lg-n1 {
    margin-bottom: -0.625rem !important;
  }
  .m-lg-n2 {
    margin: -0.9375rem !important;
  }
  .mt-lg-n2 {
    margin-top: -0.9375rem !important;
  }
  .mb-lg-n2 {
    margin-bottom: -0.9375rem !important;
  }
  .m-lg-n3 {
    margin: -1.25rem !important;
  }
  .mt-lg-n3 {
    margin-top: -1.25rem !important;
  }
  .mb-lg-n3 {
    margin-bottom: -1.25rem !important;
  }
  .m-lg-n4 {
    margin: -1.563rem !important;
  }
  .mt-lg-n4 {
    margin-top: -1.563rem !important;
  }
  .mb-lg-n4 {
    margin-bottom: -1.563rem !important;
  }
  .m-lg-n5 {
    margin: -1.875rem !important;
  }
  .mt-lg-n5 {
    margin-top: -1.875rem !important;
  }
  .mb-lg-n5 {
    margin-bottom: -1.875rem !important;
  }
  .m-lg-n6 {
    margin: -2.188rem !important;
  }
  .mt-lg-n6 {
    margin-top: -2.188rem !important;
  }
  .mb-lg-n6 {
    margin-bottom: -2.188rem !important;
  }
  .m-lg-n7 {
    margin: -2.5rem !important;
  }
  .mt-lg-n7 {
    margin-top: -2.5rem !important;
  }
  .mb-lg-n7 {
    margin-bottom: -2.5rem !important;
  }
  .m-lg-n8 {
    margin: -3.125rem !important;
  }
  .mt-lg-n8 {
    margin-top: -3.125rem !important;
  }
  .mb-lg-n8 {
    margin-bottom: -3.125rem !important;
  }
  .m-lg-n9 {
    margin: -3.75rem !important;
  }
  .mt-lg-n9 {
    margin-top: -3.75rem !important;
  }
  .mb-lg-n9 {
    margin-bottom: -3.75rem !important;
  }
  .m-lg-n10 {
    margin: -4.375rem !important;
  }
  .mt-lg-n10 {
    margin-top: -4.375rem !important;
  }
  .mb-lg-n10 {
    margin-bottom: -4.375rem !important;
  }
  .m-lg-n11 {
    margin: -5rem !important;
  }
  .mt-lg-n11 {
    margin-top: -5rem !important;
  }
  .mb-lg-n11 {
    margin-bottom: -5rem !important;
  }
  .m-lg-n12 {
    margin: -5.625rem !important;
  }
  .mt-lg-n12 {
    margin-top: -5.625rem !important;
  }
  .mb-lg-n12 {
    margin-bottom: -5.625rem !important;
  }
  .m-lg-n13 {
    margin: -6.25rem !important;
  }
  .mt-lg-n13 {
    margin-top: -6.25rem !important;
  }
  .mb-lg-n13 {
    margin-bottom: -6.25rem !important;
  }
  .m-lg-n13_5 {
    margin: -7.5rem !important;
  }
  .mt-lg-n13_5 {
    margin-top: -7.5rem !important;
  }
  .mb-lg-n13_5 {
    margin-bottom: -7.5rem !important;
  }
  .m-lg-n14 {
    margin: -8.75rem !important;
  }
  .mt-lg-n14 {
    margin-top: -8.75rem !important;
  }
  .mb-lg-n14 {
    margin-bottom: -8.75rem !important;
  }
  .m-lg-n15 {
    margin: -9.375rem !important;
  }
  .mt-lg-n15 {
    margin-top: -9.375rem !important;
  }
  .mb-lg-n15 {
    margin-bottom: -9.375rem !important;
  }
  .m-lg-n16 {
    margin: -10rem !important;
  }
  .mt-lg-n16 {
    margin-top: -10rem !important;
  }
  .mb-lg-n16 {
    margin-bottom: -10rem !important;
  }
  .m-lg-n17 {
    margin: -10.63rem !important;
  }
  .mt-lg-n17 {
    margin-top: -10.63rem !important;
  }
  .mb-lg-n17 {
    margin-bottom: -10.63rem !important;
  }
  .m-lg-n18 {
    margin: -11.25rem !important;
  }
  .mt-lg-n18 {
    margin-top: -11.25rem !important;
  }
  .mb-lg-n18 {
    margin-bottom: -11.25rem !important;
  }
  .m-lg-n19 {
    margin: -11.88rem !important;
  }
  .mt-lg-n19 {
    margin-top: -11.88rem !important;
  }
  .mb-lg-n19 {
    margin-bottom: -11.88rem !important;
  }
  .m-lg-n20 {
    margin: -12.5rem !important;
  }
  .mt-lg-n20 {
    margin-top: -12.5rem !important;
  }
  .mb-lg-n20 {
    margin-bottom: -12.5rem !important;
  }
  .m-lg-n21 {
    margin: -13.13rem !important;
  }
  .mt-lg-n21 {
    margin-top: -13.13rem !important;
  }
  .mb-lg-n21 {
    margin-bottom: -13.13rem !important;
  }
  .m-lg-n22 {
    margin: -13.75rem !important;
  }
  .mt-lg-n22 {
    margin-top: -13.75rem !important;
  }
  .mb-lg-n22 {
    margin-bottom: -13.75rem !important;
  }
  .m-lg-n23 {
    margin: -14.38rem !important;
  }
  .mt-lg-n23 {
    margin-top: -14.38rem !important;
  }
  .mb-lg-n23 {
    margin-bottom: -14.38rem !important;
  }
  .m-lg-n24 {
    margin: -15rem !important;
  }
  .mt-lg-n24 {
    margin-top: -15rem !important;
  }
  .mb-lg-n24 {
    margin-bottom: -15rem !important;
  }
  .m-lg-n25 {
    margin: -15.625rem !important;
  }
  .mt-lg-n25 {
    margin-top: -15.625rem !important;
  }
  .mb-lg-n25 {
    margin-bottom: -15.625rem !important;
  }
}
.font-weight-bold {
  font-weight: 700 !important;
}
.text-body {
  color: #212529 !important;
}
@media print {
  *,
  ::after,
  ::before {
    text-shadow: none !important;
    box-shadow: none !important;
  }
  a:not(.btn) {
    text-decoration: underline;
  }
  img,
  tr {
    page-break-inside: avoid;
  }
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  @page {
    size: a3;
  }
  body {
    min-width: 992px !important;
  }
  .container {
    min-width: 992px !important;
  }
}
body,
html {
  overflow-x: hidden;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
a,
body,
div,
font,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
img,
s,
tr {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: 0 0;
}
:focus {
  outline: 0;
  text-decoration: none !important;
}
:active {
  text-decoration: none !important;
}
body {
  min-width: 320px;
  position: relative;
  overflow: hidden;
  color: #24242a;
}
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
a {
  transition: color 0.4s;
  color: #24242a;
}
a:hover {
  color: #010101;
  text-decoration: none;
}
h1 {
  font-family: graphik-medium, Sans-Serif;
  line-height: 55px;
}
@media screen and (max-width: 1231px) {
  h1 {
    font-size: 45px;
  }
}
@media screen and (max-width: 991px) {
  h1 {
    font-size: 32px;
    line-height: 42px;
  }
}
h2 {
  font-family: graphik-medium, Sans-Serif;
  line-height: 45px;
}
@media screen and (max-width: 991px) {
  h2 {
    font-size: 24px;
    line-height: 34px;
  }
}
h3 {
  font-family: graphik-medium, Sans-Serif;
  line-height: 30px;
}
@media screen and (max-width: 991px) {
  h3 {
    font-size: 20px;
    line-height: 26px;
  }
}
h4 {
  font-family: graphik-medium, Sans-Serif;
  line-height: 24px;
}
@media screen and (max-width: 991px) {
  h4 {
    font-size: 16px;
    line-height: 22px;
  }
}
h6 {
  line-height: 24px;
}
@media screen and (max-width: 991px) {
  hr {
    margin: 40px 0;
  }
}
footer {
  background: #131416;
}
.news {
  position: absolute;
  top: 90px;
  right: 50%;
  margin-right: -570px;
  max-width: 373px;
  z-index: 998;
}
@media screen and (max-width: 1231px) {
  .news {
    margin-right: -460px;
  }
}
@media screen and (max-width: 991px) {
  .news {
    display: none;
  }
}
.subpageMenu {
  width: 312px;
}
@media screen and (max-width: 1231px) {
  .subpageMenu {
    width: 290px;
  }
}
@media screen and (max-width: 991px) {
  .subpageMenu {
    display: none;
    max-width: 100%;
  }
  .subpageMenu a:last-child {
    border-bottom: 2px solid rgba(54, 54, 63, 0.1);
  }
}
.subpageMenu a {
  font-size: 14px;
  line-height: 18px;
  padding: 15px 0;
  border-top: 2px solid rgba(54, 54, 63, 0.1);
  display: block;
}
.subpageMenu a:hover {
  color: #5952e4;
}
.subpageMenu a.active {
  color: #5952e4;
  font-family: graphik-medium, Sans-Serif;
}
.subpageMenu a:first-child {
  border-top: 0;
}
.pageContent.aboutus {
  padding-top: 426px;
}
@media screen and (max-width: 1231px) {
  .pageContent.aboutus {
    padding-top: 340px;
  }
}
@media screen and (max-width: 767px) {
  .pageContent.aboutus {
    padding-top: 200px;
  }
}
.pageContent2 {
  padding-top: 277px;
}
@media screen and (max-width: 991px) {
  .pageContent2 {
    padding-top: 90px;
  }
}
.pageContent2:before {
  content: "";
  background: #131416;
  position: absolute;
  top: 0;
  height: 157px;
  left: 0;
  width: 100%;
}
@media screen and (max-width: 991px) {
  .pageContent2:before {
    height: 60px;
  }
}
.pageContent2 > .container {
  position: relative;
}
.pageContent2 > .container:before {
  content: "";
  background: url(../image/subpages/brem-bg.svg) no-repeat;
  position: absolute;
  top: -121px;
  height: 20px;
  left: 0;
  width: 371px;
}
@media screen and (max-width: 991px) {
  .pageContent2 > .container:before {
    display: none;
  }
}
