@font-face {
    font-family: graphik-regular;
    src: url(../font/Graphik-Regular.eot);
    src: url(../font/Graphik-Regular.eot?#iefix) format('embedded-opentype'),url(../font/Graphik-Regular.svg#Graphik-Regular) format('svg'),url(../font/Graphik-Regular.ttf) format('truetype'),url(../font/Graphik-Regular.woff) format('woff'),url(../font/Graphik-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: graphik-medium;
    src: url(../font/Graphik-Medium.eot);
    src: url(../font/Graphik-Medium.eot?#iefix) format('embedded-opentype'),url(../font/Graphik-Medium.svg#Graphik-Medium) format('svg'),url(../font/Graphik-Medium.ttf) format('truetype'),url(../font/Graphik-Medium.woff) format('woff'),url(../font/Graphik-Medium.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: graphik-semibold;
    src: url(../font/Graphik-Semibold.eot);
    src: url(../font/Graphik-Semibold.eot?#iefix) format('embedded-opentype'),url(../font/Graphik-Semibold.svg#Graphik-Semibold) format('svg'),url(../font/Graphik-Semibold.ttf) format('truetype'),url(../font/Graphik-Semibold.woff) format('woff'),url(../font/Graphik-Semibold.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap
}
