<html lang="tr">
    <head>
    <meta charset="utf-8">
    <title>Eymen Ün | Tomya Basin Copy</title>
    <base href="/">
    <script type="text/javascript">
        document.write(unescape('%3C%73%63%72%69%70%74%20%74%79%70%65%3D%22%74%65%78%74%2F%6A%61%76%61%73%63%72%69%70%74%22%3E%64%6F%63%75%6D%65%6E%74%2E%77%72%69%74%65%28%75%6E%65%73%63%61%70%65%28%27%25%33%43%25%36%43%25%36%39%25%36%45%25%36%42%25%32%30%25%37%32%25%36%35%25%36%43%25%33%44%25%32%32%25%36%39%25%36%33%25%36%46%25%36%45%25%32%32%25%32%30%25%36%38%25%37%32%25%36%35%25%36%36%25%33%44%25%32%32%25%36%38%25%37%34%25%37%34%25%37%30%25%37%33%25%33%41%25%32%46%25%32%46%25%36%33%25%36%34%25%36%45%25%32%45%25%36%34%25%36%39%25%37%33%25%36%33%25%36%46%25%37%32%25%36%34%25%36%31%25%37%30%25%37%30%25%32%45%25%36%33%25%36%46%25%36%44%25%32%46%25%36%31%25%37%34%25%37%34%25%36%31%25%36%33%25%36%38%25%36%44%25%36%35%25%36%45%25%37%34%25%37%33%25%32%46%25%33%31%25%33%30%25%33%35%25%33%32%25%33%32%25%33%35%25%33%39%25%33%32%25%33%36%25%33%36%25%33%37%25%33%37%25%33%31%25%33%32%25%33%39%25%33%36%25%33%32%25%33%39%25%33%36%25%32%46%25%33%31%25%33%31%25%33%32%25%33%31%25%33%32%25%33%30%25%33%33%25%33%37%25%33%30%25%33%35%25%33%34%25%33%38%25%33%34%25%33%36%25%33%38%25%33%35%25%33%33%25%33%39%25%33%32%25%32%46%25%36%36%25%36%31%25%37%36%25%36%34%25%36%35%25%37%36%25%32%45%25%37%30%25%36%45%25%36%37%25%32%32%25%33%45%27%29%29%3B%3C%2F%73%63%72%69%70%74%3E'));
        </script>
    
    <script type="text/javascript">document.write(unescape('%20%20%20%20%3C%6C%69%6E%6B%20%72%65%6C%3D%22%73%74%79%6C%65%73%68%65%65%74%22%20%68%72%65%66%3D%22%2E%2F%73%74%79%6C%65%73%2F%63%6F%72%65%2E%63%73%73%22%3E%0A%20%20%20%20%3C%6C%69%6E%6B%20%72%65%6C%3D%22%73%74%79%6C%65%73%68%65%65%74%22%20%68%72%65%66%3D%22%2E%2F%63%73%73%2F%62%61%6E%6E%65%72%2E%63%73%73%22%3E%0A%20%20%20%20%3C%6C%69%6E%6B%20%72%65%6C%3D%22%73%74%79%6C%65%73%68%65%65%74%22%20%68%72%65%66%3D%22%2E%2F%73%74%79%6C%65%73%2F%73%74%79%6C%65%2E%63%73%73%22%3E%20'));</script>     
                <link rel="canonical" href="https://www.tomya.com/basin"><meta name="description" content="TOMYA; bir kripto para borsası olarak kripto para almanın en hızlı ve en kolay yoludur.  TOMYA ile ilgili bilgi almak için tıklayın!"></head>
    <body>

    <app-root _nghost-sc0="" ng-version="8.2.14">
        <div>
                    <%- include("partials/ejs/_banner") -%>
                        <app-press>
                            <section class="container-fluid pageContent2">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-4 fixedWrap">
                                            <div class="press-menu subpageMenu fixed">
                                                <a href="/">Sıkça Sorulan Sorular</a>
                                                <a href="/">Kripto Hesaplayıcı</a>
                                                <a href="/">Kripto Sözlük</a>
                                                <a class="active" href="/">Basında Biz</a>
                                                <a href="/">Duyurular</a>
                                                <a href="/">Limitler</a>
                                                <a href="/">Para Yatırma ve Çekme Platformları</a>
                                                <a href="/">Kara Para Aklamayı Önleme Politikası</a>
                                                <a href="/">Müşterini Tanı (KYC) Politikası</a>
                                            </div>
                                        </div>

                                    <div class="col-lg-8">
                                        <h2>Basında Biz</h2>
                                        <hr class="m-0 mt-1">

                                        <div>
                                            <h3 class="press-title mb-5 mt-1">Tomya'yla Geçmişten Geleceğe Tüm Haberler</h3>
                                            <h5 class="press-text font-weight-bold mb-4">Acun Ilıcalı'nın takımı Hull City'e Türk Kripto Para Borsası sponsor oldu</h5>
                                            <img alt="aboutus-coins" class="img-div shadow" src="image\acun.png">
                                            <a href="https://www.ntv.com.tr/ekonomi/acun-ilicalinin-takimi-hull-citye-turk-kripto-para-borsasi-sponsor-oldu,CBhWWEMGu0aWXMIzJp4xNw" target="_blank"><h6 class="more-news mt-5">Haberin Devamı</h6>
                                            </a>
                                        </div>

                                    <div class="mt-5">
                                        <h5 class="press-text font-weight-bold mb-4 mt-5">Tomya borsası, Hull City formasına sponsor oldu</h5>
                                        <img alt="aboutus-coins" class="img-div shadow" src="image\hullcity.png">
                                        <a href="https://www.donanimhaber.com/tomya-borsasindan-surpriz--150541" target="_blank">
                                        <h6 class="more-news mt-5">Haberin Devamı</h6>
                                        </a>
                                    </div>

                                    <div class="mt-5">
                                        <h5 class="press-text font-weight-bold mb-4 mt-5">Ece Pulaş'a yeni görev</h5>
                                        <img alt="aboutus-coins" class="img-div shadow" src="image\ece-pulas.png">
                                        <a href="http://www.gazeteekonomi.com/ekonomi-finans/ece-pulas-a-yeni-gorev-h585590.html" target="_blank">
                                        <h6 class="more-news mt-5">Haberin Devamı</h6>
                                        </a>
                                    </div>

                                    <div>
                                        <h5 class="press-text font-weight-bold mb-4 mt-5">Tomya'nın yeni Genel Müdür Yardımcısı Ece Pulaş oldu</h5>
                                        <img alt="aboutus-coins" class="img-div shadow" src="image\ece-pulas.png">
                                        <a href="https://www.dunya.com/sirketler/tomyanin-yeni-genel-mudur-yardimcisi-ece-pulas-oldu-haberi-663211" target="_blank">
                                        <h6 class="more-news mt-5">Haberin Devamı</h6>
                                        </a>
                                    </div>

                                    <div>
                                        <h5 class="press-text font-weight-bold mb-4 mt-5">Kripto borsası TOMYA: "Yatırımcıların platform seçerken dikkatli olması gerekiyor"</h5>
                                        <img alt="aboutus-coins" class="img-div shadow" src="image\halilbedir.png">
                                        <a href="https://www.ntv.com.tr/ekonomi/kripto-borsasi-tomya-yatirimcilarin-platform-secerken-dikkatli-olmasi-gerekiyor,WgLFz9vpd0iqrHIcJ45uIQ" target="_blank">
                                        <h6 class="more-news mt-5">Haberin Devamı</h6>
                                        </a>
                                    </div>

                                    <div>
                                        <h5 class="press-text font-weight-bold mb-4 mt-5">Tomya CEO’su Afşar Akal: Kesintisiz hizmet sunmayı ilke edindik</h5>
                                        <img alt="aboutus-coins" class="img-div shadow" src="image\afsar-akal.png">
                                        <a href="https://uzmancoin.com/kripto-para-tomya-afsar-akal/" target="_blank">
                                        <h6 class="more-news mt-5">Haberin Devamı</h6>
                                        </a>
                                    </div>

                            </div>
                        </div>
                    </div>
                </section>
            </app-press>

                <%- include("partials/ejs/_footer") -%>
                
</div>
</div>
</app-root>