<script type="text/javascript">document.write(unescape('%3C%6C%69%6E%6B%20%72%65%6C%3D%22%73%74%79%6C%65%73%68%65%65%74%22%20%68%72%65%66%3D%22%70%61%72%74%69%61%6C%73%2F%63%73%73%2F%62%61%6E%6E%65%72%2E%63%73%73%22%3E'));</script>
<section class="banner" id="home">
  <div class="overlay"></div>	
  <header>
		  <div class="container"><div class="d-flex justify-content-between align-items-center">
                            <a href="/">
                                <img alt="tomya-logosu" class="logo" src="image\general\tomya-logo.svg">
                            </a>
                            <ul class="mainMenu align-items-lg-center flex-lg-row flex-column">
                                <li class="sublink">
                                    <a data-sub="kriptopara" href="/">Kripto Paralar</a>
                                    <div class="mainSubMenuList" id="kriptopara">
                                        <h2>Kripto Paralar</h2>
                                        <div class="d-lg-flex flex-wrap p-lg-4">

                                                <a href="/bitcoin"><img src="https://www.tomya.com/assets/img/general/ic-bitcoin.svg" style="margin-right: 8px;" width="25">Bitcoin</a>

                                                <a href="/ethereum"><img src="image\general\ic-ethereum.svg" style="margin-right: 8px;" width="25">Ethereum</a>

                                                <a href="/ripple"><img src="https://www.tomya.com/assets/img/general/ic-ripple.svg" style="margin-right: 8px;" width="25">Ripple</a>

                                                <a href="/litecoin"><img src="https://www.tomya.com/assets/img/general/ic-litecoin.svg" style="margin-right: 8px;" width="25">Litecoin</a>

                                                <a href="/tether"><img src="https://www.tomya.com/assets/img/general/ic-tether.svg" style="margin-right: 8px;" width="25">Tether</a>

                                                <a href="/chainlink"><img src="https://www.tomya.com/assets/img/general/ic-chainlink.svg" style="margin-right: 8px;" width="25">Chainlink</a>

                                                <a href="/polkadot"><img src="https://www.tomya.com/assets/img/general/ic-polkadot.svg" style="margin-right: 8px;" width="25">Polkadot</a>

                                                <a href="/dogecoin"><img src="https://www.tomya.com/assets/img/general/ic-dogecoin.svg" style="margin-right: 8px;" width="25">Dogecoin</a>

                                                <a href="/cardano"><img src="https://www.tomya.com/assets/img/general/ic-cardano.svg" style="margin-right: 8px;" width="25">Cardano</a>

                                                <a href="/neo"><img src="https://www.tomya.com/assets/img/general/ic-neo.svg" style="margin-right: 8px;" width="25">NEO</a>

                                                <a href="/chiliz"><img src="https://www.tomya.com/assets/img/general/ic-chiliz.svg" style="margin-right: 8px;" width="25">Chiliz</a>

                                                <a href="/holo"><img src="https://www.tomya.com/assets/img/general/ic-holo.svg" style="margin-right: 8px;" width="25">Holochain</a>

                                                <a href="/bittorrent"><img src="https://www.tomya.com/assets/img/general/ic-bittorent.svg" style="margin-right: 8px;" width="25">BitTorrent Chain</a>

                                                <a href="/avax"><img src="https://www.tomya.com/assets/img/general/ic-avalanche.svg" style="margin-right: 8px;" width="25">Avalanche</a>
                                                
                                                <a href="/binance-coin"><img src="https://www.tomya.com/assets/img/general/ic-binance.svg" style="margin-right: 8px;" width="25">Binance Coin</a>
                                                
                                                <a href="/decentraland"><img src="https://www.tomya.com/assets/img/general/ic-decentraland.svg" style="margin-right: 8px;" width="25">Decentraland</a>
                                                
                                                <a href="/sandbox"><img src="https://www.tomya.com/assets/img/general/ic-sandbox.svg" style="margin-right: 8px;" width="25">The Sandbox</a>
                                                
                                                <a href="/cake"><img src="image\general\ic-cake.png" style="margin-right: 8px;" width="25">Pancakeswap</a>
                                                
                                                <a href="/shiba"><img src="image\general\ic-shiba.png" style="margin-right: 8px;" width="25">Shiba Inu</a>
                                                
                                                <a href="/solana"><img src="image\general\ic-solana.png" style="margin-right: 8px;" width="25">Solana</a>
                                                
                                                <a href="/polygon"><img src="image\general\ic-matic.png" style="margin-right: 8px;" width="25">Polygon</a>
                                                
                                                <a href="/near"><img src="image\general\ic-near.png" style="margin-right: 8px;" width="25">NEAR Protocol</a>
                                                
                                                <a href="/paxg"><img src="image\general\ic-paxg.png" style="margin-right: 8px;" width="25">PAX Gold</a>
                                                
                                                <a href="/ape"><img src="image\general\ic-ape.png" style="margin-right: 8px;" width="25">ApeCoin</a>
                                                
                                                <a href="/atom"><img src="image\general\ic-atom.png" style="margin-right: 8px;" width="25">Cosmos</a>
                                                
                                                <a href="/uniswap"><img src="image\general\ic-uni.png" style="margin-right: 8px;" width="25">Uniswap</a>
                                                
                                                <a href="/fantom"><img src="image\general\ic-fantom.png" style="margin-right: 8px;" width="25">Fantom</a>
                                                
                                                <a href="/enjin"><img src="image\general\ic-enjin.png" style="margin-right: 8px;" width="25">Enjin Coin</a>
                                                
                                                <a href="/vechain"><img src="image\general\ic-vechain.png" style="margin-right: 8px;" width="25">VeChain</a>
                                                
                                                <a href="/curve"><img src="image\general\ic-curve.png" style="margin-right: 8px;" width="25">Curve DAO</a>
                                                
                                                <a href="/thor"><img src="image\general\ic-thor.png" style="margin-right: 8px;" width="25">THORChain </a>
                                                
                                                <a href="/ethereum-classic"><span class="svgicon mr-0_5" style="font-size: 11px; margin-top: 3px;">
                                                    <img src="image\general\Etc-Classic.png" style="width: 25px; height: 25px;">Ethereum Classic</a>
                                                
                                                <a href="/rose"><span class="svgicon mr-0_5" style="font-size: 11px; margin-top: 3px;">
                                                    <img src="image\general\rose.png" style="width: 25px; height: 25px;">Oasis Network</a>
                                            
                                            </div>
                                        </div>
                                            </li>
                                            <li><a href="/">Market</a>
                                            </li>
                                            <li><a href="/">Komisyonlar</a>
                                            </li>
                                            <li><a href="/">Hakkımızda</a>
                                            </li>
                                            <li><a href="/">Basında Biz</a>
                                            </li>
                                            <li><a href="/">Duyurular</a>
                                            </li>
                                            <li><a href="/">İletişim</a>
                                            </li>
                                            <li><a href="/">Blog</a>
                                            </li>
                                            <li class="loginBtn"><a href="/">Giriş Yap</a>
                                            </li>
                                            <li class="signin"><a href="/">Kayıt Ol</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
  </header>