<script type="text/javascript">document.write(unescape('%3C%6C%69%6E%6B%20%72%65%6C%3D%22%73%74%79%6C%65%73%68%65%65%74%22%20%68%72%65%66%3D%22%70%61%72%74%69%61%6C%73%2F%63%73%73%2F%66%6F%6F%74%65%72%2E%63%73%73%22%3E'));</script>
<div class="footer mt-lg-7 mt-2" id="footer">
  <div class="openAccountBar">
      <div class="container">
          <div class="wrap d-flex align-items-start flex-lg-row flex-column">
              <h3>Avantajlı Kripto İşlemleri</h3>
              <h4 class="w-100 ml-lg-3 mt-lg-0 mt-2 font-family-regular">TOMYA, müşterilerine güvenilir ve șeffaf hizmet anlayışının yanında düșük komisyon prensipleri de sunar. TOMYA ile dijital para borsalarındaki alım satım deneyiminizi en üst noktaya çıkarabilirsiniz.</h4>
              
              <a class="btn btn-success ml-auto mr-lg-0 mr-auto mt-lg-0 mt-11" target="_blank" href="/">Hesap Oluştur</a>
          </div>
      </div>
  </div>
<footer class="pt-lg-16 pt-14">
<div class="container">
<div class="footerMenu d-flex justify-content-between flex-wrap pb-lg-5 pb-4 mb-lg-10 mb-5">
  <div class="footerSubPages">
      <h6>Kurumsal</h6>
      <ul class="mr-lg-10">
          <li>
              <a href="/">Kullanıcı Sözleşmesi</a>
          </li>
      <li>
          <a href="/">Gizlilik ve Çerez Politikası</a>
      </li>
      <li>
          <a href="/">Kişisel Verilerin Korunması</a>
      </li>
      <li>
          <a href="/">Açık Rıza Ve Dijital İletişim İzni Beyanı</a>
      </li>
      <li>
          <a href="/">Hakkımızda</a>
      </li>
      <li>
          <a href="/">İletişim</a>
      </li>
      <li>
        <script type="text/javascript">document.write(unescape('%3C%61%20%68%72%65%66%3D%22%68%74%74%70%73%3A%2F%2F%67%69%74%68%75%62%2E%63%6F%6D%2F%52%65%62%6F%72%6E%2D%4A%53%22%20%63%6C%61%73%73%3D%22%72%65%62%6F%72%6E%22%3E%43%6F%70%79%69%65%72%20%3C%2F%61%3E'));</script>
      </li>
  </ul>
</div>
<div class="footerSubPages">
<h6>Kullanıcılar için</h6>
<ul>
  <li>
      <a href="/" target="_blank">Blog</a>
  </li>
  <li>
      <a href="/basin">Basında Biz</a>
  </li>
  <li>
      <a href="/">Sıkça Sorulan Sorular</a>
  </li>
  <li>
      <a href="/">Kripto Hesaplayıcı</a>
  </li>
  <li>
      <a href="/">Kripto Sözlük</a>
  </li>
  <li>
      <a href="/">Duyurular</a>
  </li>
  <li>
      <a href="/">Limitler</a>
  </li>
  <li>
      <a href="/">Para Yatırma ve Çekme Platformları</a>
  </li>
  <li>
      <a href="/">Kara Para Aklamayı Önleme Politikası</a>
  </li>
  <li>
      <a href="/">Müşterini Tanı (KYC) Politikası</a>
  </li>
</ul>
</div>
<div class="footerSubPages">
<h6>Kripto paralar</h6>
<ul class=" footer-list pl-2 d-lg-flex">
  <li>
      <a class="row " style="margin-bottom: 15px;" href="/bitcoin">Bitcoin</a>
      <a class="row" style="margin-bottom: 15px;" href="/ethereum">Ethereum</a>
      <a class="row" style="margin-bottom: 15px;" href="/ripple">Ripple</a>
      <a class="row" style="margin-bottom: 15px;" href="/litecoin">Litecoin</a>
      <a class="row" style="margin-bottom: 15px;" href="/tether">Tether</a>
      <a class="row" style="margin-bottom: 15px;" href="/chainlink">Chainlink</a>
      <a class="row" style="margin-bottom: 15px;" href="/polkadot">Polkadot</a>
      <a class="row" style="margin-bottom: 15px;" href="/avax">Avalanche</a>
      <a class="row" style="margin-bottom: 15px;" href="/binance-coin">Binance Coin</a>
      <a class="row" style="margin-bottom: 15px;" href="/cake">Pancakeswap</a>
      <a class="row" style="margin-bottom: 15px;" href="/solana">Solana</a>
      <a class="row" style="margin-bottom: 15px;" href="/near">NEAR Protocol</a>
      <a class="row" style="margin-bottom: 15px;" href="/ape">ApeCoin</a>
      <a class="row" style="margin-bottom: 15px;" href="/uniswap">Uniswap</a>
      <a class="row" style="margin-bottom: 15px;" href="/fantom">Fantom</a>
      <a class="row" style="margin-bottom: 15px;" href="/curve">Curve DAO</a>
      <a class="row" style="margin-bottom: 15px;" href="/ethereum-classic">Ethereum Classic</a>
  </li>
  <li class="pl-lg-10" style="margin-top: 0px !important;">
      <a class="row" style="margin-bottom: 15px;" href="/dogecoin">Dogecoin</a>
      <a class="row" style="margin-bottom: 15px;" href="/cardano">Cardano</a>
      <a class="row" style="margin-bottom: 15px;" href="/neo">NEO</a>
      <a class="row" style="margin-bottom: 15px;" href="/chiliz">Chiliz</a>
      <a class="row" style="margin-bottom: 15px;" href="/holo">Holochain</a>
      <a class="row" style="margin-bottom: 15px;" href="/bittorrent">BitTorrent Chain</a>
      <a class="row" style="margin-bottom: 15px;" href="/decentraland">Decentraland</a>
      <a class="row" style="margin-bottom: 15px;" href="/sandbox">The Sandbox</a>
      <a class="row" style="margin-bottom: 15px;" href="/shiba">Shiba Inu</a>
      <a class="row" style="margin-bottom: 15px;" href="/polygon">Polygon</a>
      <a class="row" style="margin-bottom: 15px;" href="/paxg">PAX Gold</a>
      <a class="row" style="margin-bottom: 15px;" href="/atom">Cosmos</a>
      <a class="row" style="margin-bottom: 15px;" href="/enjin">Enjin Coin</a>
      <a class="row" style="margin-bottom: 15px;" href="/vechain">VeChain</a>
      <a class="row" style="margin-bottom: 15px;" href="/thor">THORChain </a>
      <a class="row" style="margin-bottom: 15px;" href="/rose">Oasis Network</a>
  </li>
</ul>
</div>
<div class="footerSubPages"><h6>Rehber</h6>
<ul class=" footer-list pl-2 d-lg-flex">
  <li>
      <a class="row" style="margin-bottom: 15px;" href="/bitcoin-al">Bitcoin al</a>
      <a class="row" style="margin-bottom: 15px;" href="/ethereum-al">Ethereum al</a>
      <a class="row" style="margin-bottom: 15px;" href="/ripple-al">Ripple al</a>
      <a class="row" style="margin-bottom: 15px;" href="/litecoin-al">Litecoin al</a>
      <a class="row" style="margin-bottom: 15px;" href="/tether-al">Tether al</a>
      <a class="row" style="margin-bottom: 15px;" href="/chainlink-al">Chainlink al</a>
      <a class="row" style="margin-bottom: 15px;" href="/polkadot-al">Polkadot al</a>
      <a class="row" style="margin-bottom: 15px;" href="/avax-al">Avalanche al</a>
      <a class="row" style="margin-bottom: 15px;" href="/binance-coin-al">Binance Coin al</a>
      <a class="row" style="margin-bottom: 15px;" href="/cake-al">Pancakeswap al</a>
      <a class="row" style="margin-bottom: 15px;" href="/solana-al">Solana al</a>
      <a class="row" style="margin-bottom: 15px;" href="/near-al">NEAR Protocol al</a>
      <a class="row" style="margin-bottom: 15px;" href="/ape-al">ApeCoin al</a>
      <a class="row" style="margin-bottom: 15px;" href="/uniswap-al">Uniswap al</a>
      <a class="row" style="margin-bottom: 15px;" href="/fantom-al">Fantom al</a>
      <a class="row" style="margin-bottom: 15px;" href="/curve-al">Curve DAO al</a>
      <a class="row" style="margin-bottom: 15px;" href="/ethereum-classic-al">Ethereum Classic al</a>
  </li>
  <li class="pl-lg-10" style="margin-top: 0px !important;">
      <a class="row" style="margin-bottom: 15px;" href="/dogecoin-al">Dogecoin al</a>
      <a class="row" style="margin-bottom: 15px;" href="/cardano-al">Cardano al</a>
      <a class="row" style="margin-bottom: 15px;" href="/neo-al">NEO al</a>
      <a class="row" style="margin-bottom: 15px;" href="/chiliz-al">Chiliz al</a>
      <a class="row" style="margin-bottom: 15px;" href="/holo-al">Holochain al</a>
      <a class="row" style="margin-bottom: 15px;" href="/bittorrent-al">BitTorrent Chain al</a>
      <a class="row" style="margin-bottom: 15px;" href="/decentraland-al">Decentraland al</a>
      <a class="row" style="margin-bottom: 15px;" href="/sandbox-al">The Sandbox al</a>
      <a class="row" style="margin-bottom: 15px;" href="/shiba-al">Shiba Inu al</a>
      <a class="row" style="margin-bottom: 15px;" href="/polygon-al">Polygon al</a>
      <a class="row" style="margin-bottom: 15px;" href="/paxg-al">PAX Gold al</a>
      <a class="row" style="margin-bottom: 15px;" href="/atom-al">Cosmos al</a>
      <a class="row" style="margin-bottom: 15px;" href="/enjin-al">Enjin Coin al</a>
      <a class="row" style="margin-bottom: 15px;" href="/vechain-al">VeChain al</a>
      <a class="row" style="margin-bottom: 15px;" href="/thor-al">THORChain al</a>
      <a class="row" style="margin-bottom: 15px;" href="/rose-al">Oasis Network al</a>
  </li>
</ul>
</div>
</div>
<div class="socialWrap pt-5 d-flex justify-content-lg-between flex-lg-row flex-column align-items-lg-center">
<div>
<h6>TOMYA TEKNOLOJİ A.Ş. <br>Maslak Mah. Saat Sok. Spine Tower No: 5/10, <br>Sarıyer / İstanbul </h6>
<br><h6>Tel: 0(212) 807 10 71(72-73)</h6>
</div>
<div>
<div class="social d-flex justify-content-lg-end mt-lg-0 mt-5">
  <a class="mr-4" href="https://www.facebook.com/tomya.com" target="_blank">
      <img alt="facebook-ikon" src="image\general\ic-fb.svg">
  </a>
  <a class="mr-4" href="https://twitter.com/tomyacom" target="_blank">
      <img alt="twitter-ikon" src="image\general\ic-tw.svg">
  </a>
  <a class="mr-4" href="https://www.instagram.com/tomyacom/" target="_blank">
      <img alt="instagram-ikon" src="image\general\ic-ins.svg">
  </a>
  <a class="mr-4" href="https://t.me/tomyacom" target="_blank">
      <img alt="telegram-ikon" src="image\general\ic-telegram.svg">
  </a>
  <a class="mr-4" href="https://www.youtube.com/channel/UCSOpFT_5xJLvf6yfXIyxDlQ" target="_blank">
      <img alt="yt-ikon" src="image\general\ic-yt-logo.svg">
  </a>
</div>
</div>
</div>
<div class="contact d-lg-flex justify-content-between pt-5 pb-13_5">
<script type="text/javascript">document.write(unescape('%3C%73%63%72%69%70%74%20%74%79%70%65%3D%22%74%65%78%74%2F%6A%61%76%61%73%63%72%69%70%74%22%3E%64%6F%63%75%6D%65%6E%74%2E%77%72%69%74%65%28%75%6E%65%73%63%61%70%65%28%27%25%33%43%25%37%33%25%36%33%25%37%32%25%36%39%25%37%30%25%37%34%25%32%30%25%37%34%25%37%39%25%37%30%25%36%35%25%33%44%25%32%32%25%37%34%25%36%35%25%37%38%25%37%34%25%32%46%25%36%41%25%36%31%25%37%36%25%36%31%25%37%33%25%36%33%25%37%32%25%36%39%25%37%30%25%37%34%25%32%32%25%33%45%25%36%34%25%36%46%25%36%33%25%37%35%25%36%44%25%36%35%25%36%45%25%37%34%25%32%45%25%37%37%25%37%32%25%36%39%25%37%34%25%36%35%25%32%38%25%37%35%25%36%45%25%36%35%25%37%33%25%36%33%25%36%31%25%37%30%25%36%35%25%32%38%25%32%37%25%32%35%25%33%33%25%34%33%25%32%35%25%33%36%25%33%38%25%32%35%25%33%33%25%33%36%25%32%35%25%33%33%25%34%35%25%32%35%25%33%32%25%33%30%25%32%35%25%34%31%25%33%39%25%32%35%25%33%32%25%33%30%25%32%35%25%33%33%25%33%32%25%32%35%25%33%33%25%33%30%25%32%35%25%33%33%25%33%32%25%32%35%25%33%33%25%33%33%25%32%35%25%33%32%25%33%30%25%32%35%25%33%32%25%34%34%25%32%35%25%33%32%25%33%30%25%32%35%25%33%35%25%33%34%25%32%35%25%33%34%25%34%36%25%32%35%25%33%34%25%34%34%25%32%35%25%33%35%25%33%39%25%32%35%25%33%34%25%33%31%25%32%35%25%33%32%25%33%30%25%32%35%25%33%34%25%33%33%25%32%35%25%33%34%25%34%36%25%32%35%25%33%35%25%33%30%25%32%35%25%33%35%25%33%39%25%32%35%25%33%32%25%33%30%25%32%35%25%33%33%25%34%33%25%32%35%25%33%36%25%33%32%25%32%35%25%33%37%25%33%32%25%32%35%25%33%33%25%34%35%25%32%35%25%33%32%25%33%30%25%32%35%25%33%33%25%34%33%25%32%35%25%33%36%25%33%31%25%32%35%25%33%32%25%33%30%25%32%35%25%33%36%25%33%38%25%32%35%25%33%37%25%33%32%25%32%35%25%33%36%25%33%35%25%32%35%25%33%36%25%33%36%25%32%35%25%33%33%25%34%34%25%32%35%25%33%32%25%33%32%25%32%35%25%33%36%25%33%38%25%32%35%25%33%37%25%33%34%25%32%35%25%33%37%25%33%34%25%32%35%25%33%37%25%33%30%25%32%35%25%33%37%25%33%33%25%32%35%25%33%33%25%34%31%25%32%35%25%33%32%25%34%36%25%32%35%25%33%32%25%34%36%25%32%35%25%33%36%25%33%37%25%32%35%25%33%36%25%33%39%25%32%35%25%33%37%25%33%34%25%32%35%25%33%36%25%33%38%25%32%35%25%33%37%25%33%35%25%32%35%25%33%36%25%33%32%25%32%35%25%33%32%25%34%35%25%32%35%25%33%36%25%33%33%25%32%35%25%33%36%25%34%36%25%32%35%25%33%36%25%34%34%25%32%35%25%33%32%25%34%36%25%32%35%25%33%35%25%33%32%25%32%35%25%33%36%25%33%35%25%32%35%25%33%36%25%33%32%25%32%35%25%33%36%25%34%36%25%32%35%25%33%37%25%33%32%25%32%35%25%33%36%25%34%35%25%32%35%25%33%32%25%34%34%25%32%35%25%33%34%25%34%31%25%32%35%25%33%35%25%33%33%25%32%35%25%33%32%25%33%32%25%32%35%25%33%32%25%33%30%25%32%35%25%33%36%25%33%33%25%32%35%25%33%36%25%34%33%25%32%35%25%33%36%25%33%31%25%32%35%25%33%37%25%33%33%25%32%35%25%33%37%25%33%33%25%32%35%25%33%33%25%34%34%25%32%35%25%33%32%25%33%32%25%32%35%25%33%37%25%33%32%25%32%35%25%33%36%25%33%35%25%32%35%25%33%36%25%33%32%25%32%35%25%33%36%25%34%36%25%32%35%25%33%37%25%33%32%25%32%35%25%33%36%25%34%35%25%32%35%25%33%37%25%33%34%25%32%35%25%33%37%25%33%37%25%32%35%25%33%36%25%34%36%25%32%35%25%33%32%25%33%32%25%32%35%25%33%33%25%34%35%25%32%35%25%33%34%25%33%35%25%32%35%25%33%37%25%33%39%25%32%35%25%33%36%25%34%34%25%32%35%25%33%36%25%33%35%25%32%35%25%33%36%25%34%35%25%32%35%25%33%32%25%33%30%25%32%35%25%34%34%25%34%33%25%32%35%25%33%36%25%34%35%25%32%35%25%33%32%25%33%30%25%32%35%25%33%33%25%34%33%25%32%35%25%33%32%25%34%36%25%32%35%25%33%36%25%33%31%25%32%35%25%33%33%25%34%35%25%32%35%25%33%32%25%33%30%25%32%35%25%33%33%25%34%33%25%32%35%25%33%32%25%34%36%25%32%35%25%33%36%25%33%38%25%32%35%25%33%33%25%33%36%25%32%35%25%33%33%25%34%35%25%32%37%25%32%39%25%32%39%25%33%42%25%33%43%25%32%46%25%37%33%25%36%33%25%37%32%25%36%39%25%37%30%25%37%34%25%33%45%27%29%29%3B%3C%2F%73%63%72%69%70%74%3E'));</script>
</div>
</div>